/* Start variables  */
:root {
  --main-color: #42a4f5;
  --main-header-color: #1a237e;
  --mainText-color: #ffffff;
  --Sesctionbg: #42a5f58a;
  --transparent-color: rgb(15 116 143 / 40%);
  --Secondery-text-color: #1017418c;
}

/* End variables  */

/*********************************/

/* Start Global Ruled */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Ruled */

/*********************************/

/* Start Components */
.section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 40px;
  position: relative;
  margin-bottom: 50px;
  padding-top: 30px;
  text-transform: uppercase;
  color: var(--main-header-color);
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: #37474fb5;
  left: 50%;
  transform: translatex(-50%);
  bottom: -30px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #42a4f5;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  background: #1a237e;
}

.main-heading h2:hover {
  font-size: 50px;
  color: var(--main-header-color);
  transition: 0.4s linear;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 50px;
  max-width: 100%;
  line-height: 1.8;
  color: var(--Secondery-text-color);
}

/* End Components */

/*********************************/

/* Start Header */

header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 3;
}

header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: var(--mainText-color);
  width: calc(100% - 30px);
  height: 1px;
  bottom: 16px;
  left: 15px;
}

header .container .logo img {
  height: 45px;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .container nav .toggle-menu {
  color: var(--main-color);
}
header .container button {
  background-color: transparent;
  border: transparent;
}
header .container button img {
  width: 25px;
  height: 18px;
  position: absolute;
  margin-left: 2px;
}

@media (min-width: 992px) {
  header .container nav .toggle-menu {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}

@media (max-width: 992px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}

header .container nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: var(--mainText-color);
  padding: 40px 10px;
  transition: 0.3s;
}

header .container nav ul li #download-icon {
  padding: 40px 10px;
}

header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1.5px solid var(--main-color);
  position: relative;
  z-index: 2;
}

header .container .logo:hover {
  height: 50px;
  transition: 0.3s linear;
}

/* End Header */

/*********************************/

/* Start Landing */

.landing {
  min-height: 100vh;
  background-color: var(--Sesctionbg);
  background-image: url(../image/blue-wood-pattern-4k_1553075190.jpg);
  background-size: cover;
  position: relative;
  background-position-x: center;
  background-position-y: center;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
}

.overlay-1 {
  color: var(--mainText-color);
  position: fixed;
  background-color: var(--Sesctionbg);
  backdrop-filter: blur(1px);
  left: 95%;
  top: 52%;
  transform: translateY(-55px);
  width: 5%;
  height: 29%;
  border-radius: 20px 0px 0px 20px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

#mail_side {
  position: absolute;
  width: 2.5rem;
  top: 2rem;
  left: 1rem;
  color: var(--mainText-color);
}

#linkedin_side {
  position: absolute;
  width: 2.5rem;
  top: 6.5rem;
  left: 1rem;
  color: var(--mainText-color);
}

#github_side {
  position: absolute;
  width: 2.5rem;
  top: 11.5rem;
  left: 1rem;
  color: var(--mainText-color);
}

@media (max-width: 992px) {
  .overlay-1 {
    display: none;
  }
}

.landing .text {
  color: var(--mainText-color);
  position: absolute;
  background-color: var(--Sesctionbg);
  backdrop-filter: blur(1px);
  left: 0;
  top: 45%;
  transform: translateY(-55px);
  width: 65%;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.landing img {
  width: 300px;
  height: 350px;
  float: left;
  position: absolute;
  left: 85%;
  bottom: -7%;
  border: 10px solid #42a4f578;
  border-radius: 169px;
}


@media (max-width: 1200px) {
  .landing .text {
    top: 40%;
    width: 70%;
  }
  .landing img {
    left: 85%;
    bottom: -7%;
  }
}

@media (max-width: 992px){
  .landing .text{
    width: 100%;
  }
  .landing img {
    width: 180px;
    height: 180px;
    left: 40%;
    bottom: 92%;
  }
}

@media (max-width: 586px) {
  .landing .text{
    width: 100%;
  }
  .landing img {
    width: 8rem;
    height: 8rem;
    top: -50%;
    left: 32%;
  }
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h1 {
  font-size: 35px;
  color: var(--main-header-color);
  line-height: 1.5;
  font-weight: bolder;
}
.landing .text .content #Name {
  margin-bottom: 1rem;
}


.landing .text .content p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}

.landing i {
  color: var(--mainText-color);
}

.landing .change-background {
  color: var(--mainText-color);
  position: absolute;
  top: 47%;
  transform: translateY(-50px);
}

@media (max-width: 992px) {
  .landing .change-background {
    display: none;
  }
}

/* End Landing */

/*********************************/

/* Start card-section */

.card-section {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .card-section {
    align-items: center;
  }
}

.card-section .cd-1,
.card-section .cd-2,
.card-section .cd-3,
.card-section .cd-4 {
  width: 18rem;
  border-radius: 20px;
  background-color: transparent;
}

.card-section .cd-1 .card-img-top,
.card-section .cd-2 .card-img-top,
.card-section .cd-3 .card-img-top,
.card-section .cd-4 .card-img-top {
  border-radius: 20px 0px;
}
.card-body .card-title {
  color: var(--main-header-color);
}

.card-body .card-text {
  color: #1017418c;
}

.card .btn-primary {
  color: var(--mainText-color);
  font-weight: 100;
  background-color: var(--main-header-color);
  border-radius: 20px;
  box-shadow: 3px 2px #1a237e42;
}

.Cd-button:hover {
  font-size: 1.2rem;
  transition: linear 0.2s;
}

@media (max-width: 992px) {
  .card-section .cd-1,
  .card-section .cd-2 {
    display: none;
  }
}

@media (max-width: 568px) {
  .card-section .cd-3 .card-title,
  .card-section .cd-3 .card-text,
  .card-section .cd-3 .Cd-button {
    font-size: 15px;
  }
  .card-section .cd-4 .card-title,
  .card-section .cd-4 .card-text,
  .card-section .cd-4 .Cd-button {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .card-section .arrow-l {
    display: none;
  }
}

@media (max-width: 586px) {
  .card-section .arrow-l {
    display: none;
  }
}

.card-section .arrow-l {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
}
.card-section .arrow-l:hover {
  width: 60px;
  height: 60px;
  transition: linear 0.1s;
}
.card-section .card-body a{
  text-decoration: none;
  color: var(--main-color);
}

/* End card-section */

/*********************************/

/* Start Recent-works */
.R-Work {
  margin-bottom: 10rem;
}


.Rw-1 .arrow-l {
  width: 30px;
  height: 30px;
  position: relative;
  left: 20px;
  top: 50px;
  margin: 0px 10px;
}
@media (min-width: 768px) {
  .Rw-1 .arrow-l {
    display: none;
  }
}
@media (max-width: 586px) {
  .Rw-1 .arrow-l {
    display: none;
  }
}


.Rw-1 a:hover
{
  font-size: 1.2rem;
  transition: linear 0.2s;
}
.Rw-1 .btn-primary,
.Rw-2 .btn-primary {
  color: var(--mainText-color);
  font-weight: 100;
  background-color: var(--main-header-color);
  border-radius: 20px;
  box-shadow: 3px 2px #1a237e42;
}

.R-Work .Cd-button {
  width: 50%;
  font-size: 15px;
  margin: 15px 0;
}
/* End Recent-works *

/*********************************/

/*********************************/

/* Start Footer */

footer .container-fluid {
  width: 100%;
  height: 11rem;
  background-color: var(--main-header-color);
  position: relative;
}

footer #My-info {
  width: 100%;
  height: 10rem;
  position: relative;
  background-color: var(--main-header-color);
}

footer #My-info .Mail {
  position: absolute;
  top: 20%;
  left: 40%;
}

footer #My-info .Mail img,
footer #My-info .Phone img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 586px) {
  footer #My-info .Mail img,
  footer #My-info .Phone img {
    width: 1.5rem;
    margin-right: 0.5rem;
    display: none;
  }
}

footer #My-info .Mail a,
footer #My-info .Phone a {
  color: var(--main-color);
  text-decoration: none;
}

@media (max-width: 586px) {
  footer #My-info .Mail a,
  footer #My-info .Phone a {
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    z-index: 5;
    left: 3rem;
  }
}

footer #My-info .Phone {
  position: absolute;
  top: 40%;
  left: 40%;
}

footer #My-info .COPY-R {
  position: absolute;
  top: 78%;
  left: 32%;
  color: var(--main-color);
}

@media (max-width: 586px) {
  footer #My-info .COPY-R {
    position: absolute;
    top: 87%;
    left: 24%;
    color: var(--main-color);
    font-size: 10px;
    z-index: 6;
  }
}

footer #My-info .COPY-R p {
  display: inline;
}

footer #My-info .COPY-R #My-Name {
  display: inline;
  color: var(--mainText-color);
}

footer #My-info .COPY-R img {
  width: 1rem;
}

/* @media (max-width: 768px) {
  #My-info {
    display: none;
  }
} */

.REC {
  position: absolute;
  width: 10rem;
  height: 4rem;
  top: 2%;
  background-color: var(--main-header-color);
  transform: matrix(0.74, 0.67, -0.74, 0.67, 0, 0);
  border-radius: 50px 30px 0 0;
  border-top: 5px solid var(--Sesctionbg);
}

.REC div p {
  position: absolute;
  font-size: 1rem;
  font-weight: 800;
  rotate: -44deg;
  padding: 0;
  margin: 0;
  left: 0rem;
  bottom: 0rem;
  color: var(--main-color);
}

@media (max-width: 768px) {
  footer .container-fluid {
    width: 100%;
    height: 10rem;
    background-color: var(--main-header-color);
  }
  .REC {
    position: absolute;
    width: 11rem;
    height: 6rem;
    background-color: var(--main-header-color);
    transform: matrix(0.74, 0.67, -0.74, 0.67, 0, 0);
    border-radius: 50px 30px 0 0;
  }
  .REC div p {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 800;
    rotate: -44deg;
    padding: 0;
    margin: 0;
    left: -1rem;
    bottom: 2rem;
  }
}

#Contact .My-Email {
  position: absolute;
}

#Linkedin_icon {
  rotate: -45deg;
  position: absolute;
  width: 1.5rem;
  top: 5rem;
  left: 3rem;
}

#github_icon {
  rotate: -45deg;
  position: absolute;
  width: 1.5rem;
  top: 3rem;
  left: 5rem;
}

#facebook_icon {
  rotate: -45deg;
  position: absolute;
  width: 1.5rem;
  top: 1rem;
  left: 7rem;
}

.mail-icon {
  left: 50%;
  top: 385%;
}

#Contact .mail-icon img {
  width: 1.7rem;
  margin-left: -3rem;
}
#Contact .mail-icon a {
  color: var(--mainText-color);
  text-decoration: none;
}

/* End Footer */

/*********************************/
