/* Start variables  */
:root {
  --main-color: #42a4f5;
  --main-header-color:#1a237e;
  --mainText-color: #ffffff;
  --Sesctionbg: #42a5f58a;
  --transparent-color: rgb(15 116 143 / 40%);
}

/* End variables  */

/*********************************/

/* Start Global Ruled */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Ruled */

/*********************************/

/* Start Components */
.section {
  padding-top: 50px;
  padding-bottom: 20px;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 40px;
  position: relative;
  margin-bottom: 50px;
  padding-top: 30px;
  text-transform: uppercase;
  color: var(--main-header-color);
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background: #37474fb5;
  left: 50%;
  transform: translatex(-50%);
  bottom: -30px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  background: black;
}

.main-heading h2:hover {
  font-size: 50px;
  color: var(--main-header-color);
  transition: 0.4s linear;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 50px;
  max-width: 100%;
  line-height: 1.8;
  color: var(--mainText-color);
}

/* End Components */

/*********************************/

/* Start Header */

header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 3;
}

header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  background-color: var(--mainText-color);
  width: calc(100% - 30px);
  height: 1px;
  bottom: 16px;
  left: 15px;
}

header .container .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .container nav .toggle-menu {
  color: var(--mainText-color);
}
.container button {
  background-color: transparent;
  border: transparent;
}
.container button img {
  width: 25px;
  height: 18px;
  position: absolute;
  margin-left: 2px;
}

@media (min-width: 992px) {
  header .container nav .toggle-menu {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}

@media (max-width: 992px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 83%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}

header .container nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: var(--mainText-color);
  padding: 40px 10px;
  transition: 0.3s;
}

header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1.5px solid var(--main-color);
  position: relative;
  z-index: 2;
}

header .container .logo:hover {
  height: 50px;
  transition: 0.3s linear;
}

/* End Header */

/*********************************/

/* Start Landing */

.landing {
  min-height: 100vh;
  background-color: var(--Sesctionbg);
  background-image: url(../image/blue-wood-pattern-4k_1553075190.jpg);
  background-size: cover;
  position: relative;
  background-position-x: center;
  background-position-y: center;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
}

.landing .text {
  color: var(--mainText-color);
  position: absolute;
  background-color: var(--Sesctionbg);
  backdrop-filter: blur(1px);
  left: 0;
  top: 45%;
  transform: translateY(-55px);
  width: 50%;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

@media (max-width: 1200px) {
  .landing .text {
    top: 40%;
    width: 100%;
    justify-content: center;
  }
  .landing .text .content {
    width: 100%;
  }
}

.landing img {
  width: 250px;
  height: 320px;
  float: left;
}

@media (max-width: 992px) {
  .landing img {
    width: 20vw;
    height: 23vw;
    float: inline-start;
    position: absolute;
    top: -50%;
    left: 2%;
  }
}
/* @media (max-width: 992px) {
  .landing img {
    width: 200px;
    height: 200px;
    float: inline-start;
    position: absolute;
    top: -50%;
    left: 2%;
  }
} */

/* @media (max-width: 390px) {
  .landing img {
    width: 150px;
    height: 160px;
    float: inline-start;
    position: absolute;
    top: -38%;
    left: 30%;
  }
} */

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h1 {
  font-size: 35px;
  color: var(--main-header-color);
  line-height: 1.5;
  margin-bottom: 55px;
  font-weight: bolder;
}

.landing .text .content p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}

.landing i {
  color: var(--mainText-color);
}

.landing .change-background {
  color: var(--mainText-color);
  position: absolute;
  top: 47%;
  transform: translateY(-50px);
}

@media (max-width: 992px) {
  .landing .change-background {
    display: none;
  }
}

/* End Landing */

/*********************************/

/* Start card-section */

.card-section {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .card-section {
    align-items: center;
  }
}

.Cd-button:hover {
  font-size: 1.2rem;
  transition: linear 0.2s;
}
.card .btn-primary {
  color: var(--mainText-color);
  font-weight: 100;
  background-color: var(--main-header-color);
  border-radius: 20px;
  box-shadow: 3px 2px #1a237e42;
}

@media (max-width: 992px) {
  .card-section .cd-1,
  .card-section .cd-2 {
    display: none;
  }
}

@media (max-width: 568px) {
  .card-section .cd-3 .card-title,
  .card-section .cd-3 .card-text,
  .card-section .cd-3 .Cd-button {
    font-size: 15px;
  }
  .card-section .cd-4 .card-title,
  .card-section .cd-4 .card-text,
  .card-section .cd-4 .Cd-button {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .card-section .arrow-l {
    display: none;
  }
}

@media (max-width: 586px) {
  .card-section .arrow-l {
    display: none;
  }
}

.card-section .arrow-l {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
}
.card-section .arrow-l:hover {
  width: 60px;
  height: 60px;
  transition: linear 0.1s;
}

/* End card-section */

/*********************************/

/* Start Recent-works */
.R-Work {
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .Rw-2 {
    display: none;
  }
}

.Rw-1 .arrow-l {
  width: 30px;
  height: 30px;
  position: relative;
  left: 20px;
  top: 50px;
  margin: 0px 10px;
}
@media (min-width: 768px) {
  .Rw-1 .arrow-l {
    display: none;
  }
}
@media (max-width: 586px) {
  .Rw-1 .arrow-l {
    display: none;
  }
}

.Rw-1 a:hover,
.Rw-2 a:hover {
  font-size: 1.2rem;
  transition: linear 0.2s;
}
.Rw-1 .btn-primary,
.Rw-2 .btn-primary {
  color: var(--mainText-color);
  font-weight: 100;
  background-color: var(--main-header-color);
  border-radius: 20px;
  box-shadow: 3px 2px #1a237e42;
}
/* End Recent-works *

/*********************************/

/* Start Portfolio */

/* End Portfolio */

/*********************************/

/* Start about */

/* End about */

/*********************************/

/* Start contact */

/* End contact */

/*********************************/

/* Start Footer */

footer .container-fluid {
  width: 100%;
  height: 21rem;
  background-color: var(--main-header-color);
}

.REC {
  position: absolute;
  width: 20rem;
  height: 16rem;
  background-color: var(--main-header-color);
  transform: matrix(0.74, 0.67, -0.74, 0.67, 0, 0);
  border-radius: 50px 30px 0 0;
  border-top: 5px solid var(--Sesctionbg);
}

.REC div p {
  position: absolute;
  font-size: 2rem;
  font-weight: 800;
  rotate: -44deg;
  padding: 0;
  margin: 0;
  left: -1rem;
  bottom: 9rem;
}

@media (max-width: 768px) {
  footer .container-fluid {
    width: 100%;
    height: 10rem;
    background-color: var(--main-header-color);
  }
  .REC {
    position: absolute;
    width: 11rem;
    height: 6rem;
    background-color: var(--main-header-color);
    transform: matrix(0.74, 0.67, -0.74, 0.67, 0, 0);
    border-radius: 50px 30px 0 0;
  }
  .REC div p {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 800;
    rotate: -44deg;
    padding: 0;
    margin: 0;
    left: -1rem;
    bottom: 2rem;
  }
}
/* End Footer */

/*********************************/
